<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>가상자산 법인 시장 동향</title>
</head>
<body bgcolor="#ffffff">

<table
    id="bodyTable"
    border="0"
    cellpadding="0"
    cellspacing="0"
    width="100%"
    bgcolor="#ffffff"
    style="border-collapse:collapse; width:100%; background-color:#ffffff;"
>
<tr>
<td align="center" valign="top" bgcolor="#ffffff">

<table
    border="0"
    cellpadding="0"
    cellspacing="0"
    width="680"
    bgcolor="#ffffff"
    style="border-collapse:collapse; width:680px; background-color:#ffffff;"
>
<tr>
<td height="44" style="font-size:0; line-height:0;">&nbsp;</td>
</tr>

<tr>
<td
    align="left"
    valign="middle"
    style="border-bottom:1px solid #949494; padding-top:0; padding-right:0; padding-bottom:24px; padding-left:0;"
>
<table
    border="0"
    cellpadding="0"
    cellspacing="0"
    width="680"
    style="border-collapse:collapse; width:680px;"
>
<tr>
<td
    align="left"
    valign="middle"
    width="108"
    style="width:108px; padding-top:0; padding-right:0; padding-bottom:0; padding-left:0;"
>
<a
    href="https://www.bithumb.com/"
    target="_blank"
    rel="noopener noreferrer"
    style="display:inline-block; vertical-align:top;"
>
<img
    src="https://static.bithumb.com/banner/bithumb_logo.png"
    alt="bithumb"
    width="108"
    style="border:0; outline:none; text-decoration:none; display:block; width:108px; height:auto;"
/>
</a>
{% comment %} {% if logo_data_uri %}
<img
    src="{{ logo_data_uri }}"
    alt="빗썸 biz"
    width="108"
    style="border:0; outline:none; text-decoration:none; display:block; width:108px; height:auto;"
/>
{% else %}
<font
    face="Arial, sans-serif"
    color="#252525"
    style="font-size:20px; font-weight:bold; line-height:24px;"
>
빗썸 biz
</font>
{% endif %} {% endcomment %}
</td>
<td width="18" style="width:18px; font-size:0; line-height:0;">&nbsp;</td>
<td
    align="left"
    valign="middle"
    width="370"
    style="width:370px; font-family:'Apple SD Gothic Neo','Malgun Gothic',Arial,sans-serif; font-size:28px; font-weight:bold; line-height:34px; color:#252525; white-space:nowrap; padding-top:0; padding-right:0; padding-bottom:0; padding-left:0;"
>
가상자산 법인 시장 동향
</td>
<td width="12" style="width:12px; font-size:0; line-height:0;">&nbsp;</td>
<td
    align="right"
    valign="middle"
    width="172"
    style="width:172px; font-family:'Apple SD Gothic Neo','Malgun Gothic',Arial,sans-serif; font-size:20px; font-weight:bold; line-height:26px; color:#252525; white-space:nowrap; padding-top:0; padding-right:0; padding-bottom:0; padding-left:0;"
>
{{ report_date }}
</td>
</tr>
</table>
</td>
</tr>

{% for article in articles %}
<tr>
<td
    align="left"
    valign="top"
    style="border-bottom:1px solid #949494; padding-top:28px; padding-right:0; padding-bottom:30px; padding-left:0;"
>
<table
    border="0"
    cellpadding="0"
    cellspacing="0"
    width="100%"
    style="border-collapse:collapse; width:100%;"
>
<tr>
<td
    align="left"
    valign="top"
    style="padding-top:0; padding-right:0; padding-bottom:10px; padding-left:0;"
>
<table
    border="0"
    cellpadding="0"
    cellspacing="0"
    style="border-collapse:collapse;"
>
<tr>
<td
    align="left"
    valign="middle"
    style="font-family:'Apple SD Gothic Neo','Malgun Gothic',Arial,sans-serif; font-size:18px; line-height:26px; color:#252525; font-weight:bold; padding-top:0; padding-right:24px; padding-bottom:0; padding-left:0;"
>
{{ article.source }}
</td>
<td
    align="left"
    valign="middle"
    style="font-family:'Apple SD Gothic Neo','Malgun Gothic',Arial,sans-serif; font-size:16px; line-height:24px; color:#8a8a8a; padding-top:0; padding-right:0; padding-bottom:0; padding-left:0;"
>
{{ article.date }}
</td>
</tr>
</table>
</td>
</tr>
<tr>
<td
    align="left"
    valign="top"
    style="font-family:'Apple SD Gothic Neo','Malgun Gothic',Arial,sans-serif; font-size:24px; font-weight:bold; line-height:32px; color:#252525; padding-top:0; padding-right:0; padding-bottom:0; padding-left:0;"
>
<a
    href="{{ article.link }}"
    target="_blank"
    rel="noopener noreferrer"
    aria-label="기사 원문 열기"
    style="color:#252525; font-family:'Apple SD Gothic Neo','Malgun Gothic',Arial,sans-serif; font-size:24px; font-weight:bold; line-height:32px; text-decoration:none;"
><font color="#252525">{{ article.title }}</font></a>
</td>
</tr>
</table>
</td>
</tr>
{% endfor %}

<tr>
<td height="64" style="font-size:0; line-height:0;">&nbsp;</td>
</tr>
</table>

<table
    border="0"
    cellpadding="0"
    cellspacing="0"
    width="100%"
    bgcolor="#151515"
    style="border-collapse:collapse; width:100%; background-color:#151515;"
>
<tr>
<td align="center" valign="top" bgcolor="#151515">
<table
    border="0"
    cellpadding="0"
    cellspacing="0"
    width="680"
    bgcolor="#151515"
    style="border-collapse:collapse; width:680px; background-color:#151515;"
>
<tr>
<td
    align="left"
    valign="top"
    bgcolor="#151515"
    style="font-family:'Apple SD Gothic Neo','Malgun Gothic',Arial,sans-serif; font-size:13px; line-height:22px; color:#cfcfcf; padding-top:28px; padding-right:0; padding-bottom:28px; padding-left:0;"
>
본 뉴스레터는 신뢰할 수 있는 정보 제공을 목적으로 작성되었으며,
어떠한 경우에도 투자 조언이나 법률적/세무적 자문을 구성하지 않습니다.
투자 결정에 따른 책임은 투자자 본인에게 있습니다.
<br />
빗썸 BIZ에서 전문적인 인사이트와 최적화된 솔루션을 제공해 드리겠습니다.
<br />
📞 문의하기: 02-xxxx-xxxx (빗썸 법인영업실)
<br />
📧 이메일: biz@bithumbcorp.com
</td>
</tr>
</table>
</td>
</tr>
</table>

</td>
</tr>
</table>

</body>
</html>
