<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>법인 디지털자산 시장 동향</title>
<link href="https://cdn.jsdelivr.net/gh/sun-typeface/SUIT@2/fonts/static/woff2/SUIT.css" rel="stylesheet" />
<style type="text/css">
body, table, td, a {
    font-family:'SUIT',sans-serif;
}
</style>
</head>
<body bgcolor="#ffffff" style="margin:0; padding:0; background-color:#ffffff;">

<table
    id="bodyTable"
    border="0"
    cellpadding="0"
    cellspacing="0"
    width="100%"
    bgcolor="#ffffff"
    style="border-collapse:collapse; width:100%; background-color:#ffffff; margin:0; padding:0;"
>
<tr>
<td align="center" valign="top" bgcolor="#ffffff">

<table
    border="0"
    cellpadding="0"
    cellspacing="0"
    width="680"
    bgcolor="#ffffff"
    style="border-collapse:collapse; width:680px; background-color:#ffffff;"
>
<tr>
<td
    align="right"
    valign="bottom"
    width="680"
    height="100"
    bgcolor="#ffffff"
    background="https://res.cloudinary.com/dys1jifiy/image/upload/v1781750322/header_blue_oguscv.svg"
    style="width:680px; height:100px; background-color:#ffffff; background-image:url('https://res.cloudinary.com/dys1jifiy/image/upload/v1781750322/header_blue_oguscv.svg'); background-repeat:no-repeat; background-position:center top; background-size:680px 102px;"
>
<table
    border="0"
    cellpadding="0"
    cellspacing="0"
    width="680"
    height="100"
    style="border-collapse:collapse; width:680px; height:100px;"
>
<tr>
<td
    align="right"
    valign="top"
    width="680"
    height="76"
    style="width:680px; height:76px; font-size:0; line-height:0;"
>&nbsp;</td>
</tr>
<tr>
<td
    align="right"
    valign="middle"
    width="680"
    height="17"
    style="width:680px; height:17px; padding-top:0; padding-right:16px; padding-bottom:0; padding-left:0;"
>
<font
    face="SUIT, sans-serif"
    color="#ffffff"
    style="font-family:'SUIT',sans-serif; font-size:13px; font-weight:600; line-height:15px; color:#ffffff; letter-spacing:0; text-shadow:0 1px 2px rgba(0,0,0,0.28);"
>
2026.6.18 (목)
</font>
</td>
</tr>
<tr>
<td
    align="right"
    valign="top"
    width="680"
    height="7"
    style="width:680px; height:7px; font-size:0; line-height:0;"
>&nbsp;</td>
</tr>
</table>
</td>
</tr>

<tr>
<td
    align="center"
    valign="top"
    bgcolor="#ffffff"
    style="background-color:#ffffff; padding-top:28px; padding-right:0; padding-bottom:34px; padding-left:0;"
>
<table
    border="0"
    cellpadding="0"
    cellspacing="0"
    width="520"
    style="border-collapse:collapse; width:520px;"
>

<tr>
<td
    align="left"
    valign="top"
    style="border-bottom:1px solid #d8d8d8; padding-top:13px; padding-right:0; padding-bottom:13px; padding-left:0;"
>
<table
    border="0"
    cellpadding="0"
    cellspacing="0"
    width="520"
    style="border-collapse:collapse; width:520px;"
>
<tr>
<td
    align="left"
    valign="middle"
    style="padding-top:0; padding-right:0; padding-bottom:5px; padding-left:0;"
>
<font
    face="SUIT, sans-serif"
    color="#777777"
    style="font-family:'SUIT',sans-serif; font-size:12px; font-weight:400; line-height:18px; color:#777777;"
>
전자신문&nbsp;&nbsp;(6/18)
</font>
</td>
</tr>
<tr>
<td
    align="left"
    valign="middle"
    style="padding-top:0; padding-right:0; padding-bottom:0; padding-left:0;"
>
<a
    href="https://www.etnews.com/20260618000054"
    target="_blank"
    rel="noopener noreferrer"
    aria-label="기사 원문 열기"
    style="color:#252525; font-family:'SUIT',sans-serif; font-size:18px; font-weight:500; line-height:26px; text-decoration:none;"
><font color="#252525">압수코인 수탁시장 열렸지만…중소 커스터디 '높은 문턱'</font></a>
</td>
</tr>
</table>
</td>
</tr>

<tr>
<td
    align="left"
    valign="top"
    style="border-bottom:1px solid #d8d8d8; padding-top:13px; padding-right:0; padding-bottom:13px; padding-left:0;"
>
<table
    border="0"
    cellpadding="0"
    cellspacing="0"
    width="520"
    style="border-collapse:collapse; width:520px;"
>
<tr>
<td
    align="left"
    valign="middle"
    style="padding-top:0; padding-right:0; padding-bottom:5px; padding-left:0;"
>
<font
    face="SUIT, sans-serif"
    color="#777777"
    style="font-family:'SUIT',sans-serif; font-size:12px; font-weight:400; line-height:18px; color:#777777;"
>
ebn산업경제&nbsp;&nbsp;(6/18)
</font>
</td>
</tr>
<tr>
<td
    align="left"
    valign="middle"
    style="padding-top:0; padding-right:0; padding-bottom:0; padding-left:0;"
>
<a
    href="https://www.ebn.co.kr/news/articleView.html?idxno=1713029"
    target="_blank"
    rel="noopener noreferrer"
    aria-label="기사 원문 열기"
    style="color:#252525; font-family:'SUIT',sans-serif; font-size:18px; font-weight:500; line-height:26px; text-decoration:none;"
><font color="#252525">엇갈린 가상자산 규제 레이스…美 속도전, 韓 정체</font></a>
</td>
</tr>
</table>
</td>
</tr>

<tr>
<td
    align="left"
    valign="top"
    style="border-bottom:1px solid #d8d8d8; padding-top:13px; padding-right:0; padding-bottom:13px; padding-left:0;"
>
<table
    border="0"
    cellpadding="0"
    cellspacing="0"
    width="520"
    style="border-collapse:collapse; width:520px;"
>
<tr>
<td
    align="left"
    valign="middle"
    style="padding-top:0; padding-right:0; padding-bottom:5px; padding-left:0;"
>
<font
    face="SUIT, sans-serif"
    color="#777777"
    style="font-family:'SUIT',sans-serif; font-size:12px; font-weight:400; line-height:18px; color:#777777;"
>
이투데이&nbsp;&nbsp;(6/18)
</font>
</td>
</tr>
<tr>
<td
    align="left"
    valign="middle"
    style="padding-top:0; padding-right:0; padding-bottom:0; padding-left:0;"
>
<a
    href="https://www.etoday.co.kr/news/view/2594787"
    target="_blank"
    rel="noopener noreferrer"
    aria-label="기사 원문 열기"
    style="color:#252525; font-family:'SUIT',sans-serif; font-size:18px; font-weight:500; line-height:26px; text-decoration:none;"
><font color="#252525">연준의 매파적 동결, AI 블랙홀까지⋯가상자산 시장 '이중 압박' [Bit 코인]</font></a>
</td>
</tr>
</table>
</td>
</tr>

<tr>
<td
    align="left"
    valign="top"
    style="border-bottom:1px solid #d8d8d8; padding-top:13px; padding-right:0; padding-bottom:13px; padding-left:0;"
>
<table
    border="0"
    cellpadding="0"
    cellspacing="0"
    width="520"
    style="border-collapse:collapse; width:520px;"
>
<tr>
<td
    align="left"
    valign="middle"
    style="padding-top:0; padding-right:0; padding-bottom:5px; padding-left:0;"
>
<font
    face="SUIT, sans-serif"
    color="#777777"
    style="font-family:'SUIT',sans-serif; font-size:12px; font-weight:400; line-height:18px; color:#777777;"
>
매일경제&nbsp;&nbsp;(6/18)
</font>
</td>
</tr>
<tr>
<td
    align="left"
    valign="middle"
    style="padding-top:0; padding-right:0; padding-bottom:0; padding-left:0;"
>
<a
    href="https://www.mk.co.kr/news/economy/12077214"
    target="_blank"
    rel="noopener noreferrer"
    aria-label="기사 원문 열기"
    style="color:#252525; font-family:'SUIT',sans-serif; font-size:18px; font-weight:500; line-height:26px; text-decoration:none;"
><font color="#252525">극단적 공포심리에 난리난 ‘비트코인’…美 금리인상 신호에 2% 하락</font></a>
</td>
</tr>
</table>
</td>
</tr>

<tr>
<td
    align="left"
    valign="top"
    style="border-bottom:1px solid #d8d8d8; padding-top:13px; padding-right:0; padding-bottom:13px; padding-left:0;"
>
<table
    border="0"
    cellpadding="0"
    cellspacing="0"
    width="520"
    style="border-collapse:collapse; width:520px;"
>
<tr>
<td
    align="left"
    valign="middle"
    style="padding-top:0; padding-right:0; padding-bottom:5px; padding-left:0;"
>
<font
    face="SUIT, sans-serif"
    color="#777777"
    style="font-family:'SUIT',sans-serif; font-size:12px; font-weight:400; line-height:18px; color:#777777;"
>
뉴스1&nbsp;&nbsp;(6/17)
</font>
</td>
</tr>
<tr>
<td
    align="left"
    valign="middle"
    style="padding-top:0; padding-right:0; padding-bottom:0; padding-left:0;"
>
<a
    href="https://www.news1.kr/finance/blockchain-fintech/6200168"
    target="_blank"
    rel="noopener noreferrer"
    aria-label="기사 원문 열기"
    style="color:#252525; font-family:'SUIT',sans-serif; font-size:18px; font-weight:500; line-height:26px; text-decoration:none;"
><font color="#252525">"지금이 바닥인데"…비트코인 떨어져도 법인들에겐 '그림의 떡'</font></a>
</td>
</tr>
</table>
</td>
</tr>

<tr>
<td
    align="left"
    valign="top"
    style="border-bottom:1px solid #d8d8d8; padding-top:13px; padding-right:0; padding-bottom:13px; padding-left:0;"
>
<table
    border="0"
    cellpadding="0"
    cellspacing="0"
    width="520"
    style="border-collapse:collapse; width:520px;"
>
<tr>
<td
    align="left"
    valign="middle"
    style="padding-top:0; padding-right:0; padding-bottom:5px; padding-left:0;"
>
<font
    face="SUIT, sans-serif"
    color="#777777"
    style="font-family:'SUIT',sans-serif; font-size:12px; font-weight:400; line-height:18px; color:#777777;"
>
디지털투데이&nbsp;&nbsp;(6/17)
</font>
</td>
</tr>
<tr>
<td
    align="left"
    valign="middle"
    style="padding-top:0; padding-right:0; padding-bottom:0; padding-left:0;"
>
<a
    href="https://www.digitaltoday.co.kr/news/articleView.html?idxno=675819"
    target="_blank"
    rel="noopener noreferrer"
    aria-label="기사 원문 열기"
    style="color:#252525; font-family:'SUIT',sans-serif; font-size:18px; font-weight:500; line-height:26px; text-decoration:none;"
><font color="#252525">비트코인 현물 ETF 주춤, 하이퍼리퀴드는 유입…기관 자금 '역주행'</font></a>
</td>
</tr>
</table>
</td>
</tr>

<tr>
<td
    align="left"
    valign="top"
    style="border-bottom:1px solid #d8d8d8; padding-top:13px; padding-right:0; padding-bottom:13px; padding-left:0;"
>
<table
    border="0"
    cellpadding="0"
    cellspacing="0"
    width="520"
    style="border-collapse:collapse; width:520px;"
>
<tr>
<td
    align="left"
    valign="middle"
    style="padding-top:0; padding-right:0; padding-bottom:5px; padding-left:0;"
>
<font
    face="SUIT, sans-serif"
    color="#777777"
    style="font-family:'SUIT',sans-serif; font-size:12px; font-weight:400; line-height:18px; color:#777777;"
>
블루밍비트&nbsp;&nbsp;(6/17)
</font>
</td>
</tr>
<tr>
<td
    align="left"
    valign="middle"
    style="padding-top:0; padding-right:0; padding-bottom:0; padding-left:0;"
>
<a
    href="https://bloomingbit.io/feed/news/114430"
    target="_blank"
    rel="noopener noreferrer"
    aria-label="기사 원문 열기"
    style="color:#252525; font-family:'SUIT',sans-serif; font-size:18px; font-weight:500; line-height:26px; text-decoration:none;"
><font color="#252525">윈터뮤트 "비트코인 바닥 아냐…ETF 등 자금 유입세가 관건"</font></a>
</td>
</tr>
</table>
</td>
</tr>

<tr>
<td
    align="left"
    valign="top"
    style="border-bottom:1px solid #d8d8d8; padding-top:13px; padding-right:0; padding-bottom:13px; padding-left:0;"
>
<table
    border="0"
    cellpadding="0"
    cellspacing="0"
    width="520"
    style="border-collapse:collapse; width:520px;"
>
<tr>
<td
    align="left"
    valign="middle"
    style="padding-top:0; padding-right:0; padding-bottom:5px; padding-left:0;"
>
<font
    face="SUIT, sans-serif"
    color="#777777"
    style="font-family:'SUIT',sans-serif; font-size:12px; font-weight:400; line-height:18px; color:#777777;"
>
데일리안&nbsp;&nbsp;(6/17)
</font>
</td>
</tr>
<tr>
<td
    align="left"
    valign="middle"
    style="padding-top:0; padding-right:0; padding-bottom:0; padding-left:0;"
>
<a
    href="https://m.dailian.co.kr/amp/news/view/1656889/%ED%86%A0%ED%86%A0%EC%99%80-%EB%8B%A4%EB%A5%B4%EB%8B%A4%EC%9B%94%EB%93%9C%EC%BB%B5-%ED%82%A4%EC%9A%B0-%EB%B8%94%EB%A1%9D%EC%B2%B4%EC%9D%B8-%EC%98%88-2026"
    target="_blank"
    rel="noopener noreferrer"
    aria-label="기사 원문 열기"
    style="color:#252525; font-family:'SUIT',sans-serif; font-size:18px; font-weight:500; line-height:26px; text-decoration:none;"
><font color="#252525">'토토'와는 다르다…월드컵이 키우는 블록체인 예측시장</font></a>
</td>
</tr>
</table>
</td>
</tr>

<tr>
<td
    align="left"
    valign="top"
    style="border-bottom:1px solid #d8d8d8; padding-top:13px; padding-right:0; padding-bottom:13px; padding-left:0;"
>
<table
    border="0"
    cellpadding="0"
    cellspacing="0"
    width="520"
    style="border-collapse:collapse; width:520px;"
>
<tr>
<td
    align="left"
    valign="middle"
    style="padding-top:0; padding-right:0; padding-bottom:5px; padding-left:0;"
>
<font
    face="SUIT, sans-serif"
    color="#777777"
    style="font-family:'SUIT',sans-serif; font-size:12px; font-weight:400; line-height:18px; color:#777777;"
>
데일리한국&nbsp;&nbsp;(6/17)
</font>
</td>
</tr>
<tr>
<td
    align="left"
    valign="middle"
    style="padding-top:0; padding-right:0; padding-bottom:0; padding-left:0;"
>
<a
    href="https://daily.hankooki.com/news/articleView.html?idxno=1377250"
    target="_blank"
    rel="noopener noreferrer"
    aria-label="기사 원문 열기"
    style="color:#252525; font-family:'SUIT',sans-serif; font-size:18px; font-weight:500; line-height:26px; text-decoration:none;"
><font color="#252525">디지털자산 거래소 AML 규제 완화…내부통제 역량 시험대</font></a>
</td>
</tr>
</table>
</td>
</tr>


<tr>
<td
    align="center"
    valign="middle"
    style="padding-top:30px; padding-right:0; padding-bottom:0; padding-left:0;"
>
<a
    href="https://www.bithumb.com/react/biz/intro"
    target="_blank"
    rel="noopener noreferrer"
    aria-label="빗썸 BIZ 바로가기"
    style="text-decoration:none;"
><img
    src="https://res.cloudinary.com/dys1jifiy/image/upload/v1781758969/BIZ-Btn_scm0dh.png"
    alt="빗썸 BIZ 바로가기"
    width="110"
    height="38"
    style="border:0; outline:none; text-decoration:none; display:block; width:110px; height:38px;"
/></a>
</td>
</tr>
</table>
</td>
</tr>

<tr>
<td
    align="left"
    valign="top"
    bgcolor="#eaf6ff"
    background="https://res.cloudinary.com/dys1jifiy/image/upload/v1781763779/footer_ver1.4_vual7u.png"
    width="680"
    height="77"
    style="width:680px; height:77px; background-color:#eaf6ff; background-image:url('https://res.cloudinary.com/dys1jifiy/image/upload/v1781763779/footer_ver1.4_vual7u.png'); background-repeat:no-repeat; background-position:center top; background-size:680px 77px; padding-top:0; padding-right:0; padding-bottom:0; padding-left:0;"
>
<table
    border="0"
    cellpadding="0"
    cellspacing="0"
    width="680"
    height="77"
    style="border-collapse:collapse; width:680px; height:77px;"
>
<tr>
<td
    align="left"
    valign="top"
    width="489"
    style="width:489px; padding-top:43.5px; padding-right:0; padding-bottom:0; padding-left:86px;"
>
<table
    border="0"
    cellpadding="0"
    cellspacing="0"
    style="border-collapse:collapse;"
>
<tr>
<td
    align="left"
    valign="top"
    style="padding-top:0; padding-right:0; padding-bottom:0; padding-left:0; font-family:'SUIT',sans-serif; font-size:8px; font-weight:400; line-height:10px; color:#7c7c7c;"
>
<font
    face="SUIT, sans-serif"
    color="#7c7c7c"
    style="font-family:'SUIT',sans-serif; font-size:8px; font-weight:400; line-height:10px; color:#7c7c7c;"
>
📞 문의하기: 1661-5566 (2번, 법인 전용 상담 창구)
</font>
</td>
</tr>
<tr>
<td
    align="left"
    valign="top"
    style="padding-top:1px; padding-right:0; padding-bottom:0; padding-left:0; font-family:'SUIT',sans-serif; font-size:8px; font-weight:400; line-height:10px; color:#7c7c7c;"
>
<font
    face="SUIT, sans-serif"
    color="#7c7c7c"
    style="font-family:'SUIT',sans-serif; font-size:8px; font-weight:400; line-height:10px; color:#7c7c7c;"
>
📧 이메일: biz@bithumbcorp.com
</font>
</td>
</tr>
</table>
</td>
</tr>
</table>
</td>
</tr>
</table>

</td>
</tr>
</table>

</body>
</html>